@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0c0c;
  color: white;
}


/* Hide scrollbar across browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Add this at the top or bottom of your globals.css */
* {
  cursor: none !important;
}

/* Optional: Show default cursor on touch devices */
@media (hover: none) and (pointer: coarse) {
  * {
    cursor: auto !important;
  }
}